.custom-header {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: rgb(200, 224, 195);
  box-shadow: 0 2px 4px rgba(236, 155, 155, 0.1);
}

.logo-link {
  display: inline-block;
  margin-right: 2px;
  margin-left: 80px;
}

.header-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1; /* π’΅ μ΄κ² ν•µμ‹¬! κ°€μ΄λ°λ΅ λμ–΄λ‚λ„λ΅ */
}

.header-text h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.header-text h2 {
  font-size: 24px;
  font-weight: bold;
  color: #666;
  margin: 0;
}

.header-text p {
  font-size: 24px;
  color: #666;
  margin: 2px 0 0;
}

.highlight {
  color: #315ab3; /* νλ€μƒ‰ ν¬μΈνΈ */
}
