@tailwind base;
@tailwind components;
@tailwind utilities;

/* 커스텀 전역 스타일 추가 예시 */
body {
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
